[include mainsail.cfg]
[include macros.cfg]
[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[virtual_sdcard]
path: /home/alvaro/printer_data/gcodes
on_error_gcode: CANCEL_PRINT


[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 500
max_z_velocity: 4
max_z_accel: 100

[exclude_object]


# This file contains a configuration for the Anycubic Kobra Go printer.
#
# See docs/Config_Reference.md for a description of parameters.
#
# To build the firmware, use the following configuration:
#   - Micro-controller: Huada Semiconductor HC32F460
#   - Communication interface: Serial (PA3 & PA2) - Anycubic
#
# Installation:
#  1. Rename the klipper bin to `firmware.bin` and copy it to an SD Card.
#  2. Power off the Printer, insert the SD Card and power it on.
#  3. The the LCD will be stuck on the Firmware-update screen.
#     Just Wait for 3-5 minutes to ensure the firmware is flashed.
#  4. After waiting, shutdown the printer and remove the SD Card.

[stepper_x]
step_pin: PA12
dir_pin: PA11
enable_pin: !PA15
microsteps: 16
rotation_distance: 40
endstop_pin: !PH2
position_endstop: -13
position_min:-13
position_max: 236
homing_speed: 50

[stepper_y]
step_pin: PA9
dir_pin: PA8
enable_pin: !PA15
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PC13
position_endstop: -9
position_min:-9
position_max: 230
homing_speed: 50

[stepper_z]
step_pin: PC7
dir_pin: !PC6
enable_pin: !PA15
microsteps: 16
rotation_distance: 8
endstop_pin: ^PC14
#position_endstop: 0
position_min: -10
position_max: 255
homing_speed: 5

[extruder]
step_pin: PB15
dir_pin: PB14
enable_pin: !PA15
microsteps: 16
rotation_distance: 30.2345277
max_extrude_only_velocity: 25
max_extrude_only_accel: 1000
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB8
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
min_extrude_temp: 170
min_temp: 0
max_temp: 250
control: pid
pid_kp: 19.56
pid_ki: 1.62
pid_kd: 200.00

[heater_bed]
heater_pin: PB9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
min_temp: 0
max_temp: 120
control: pid
pid_kp: 97.1
pid_ki: 1.41
pid_kd: 1675.16

[bed_mesh]
speed: 200
horizontal_move_z: 2.5
mesh_min: 5, 5
mesh_max: 215, 215
probe_count: 3, 3
algorithm: bicubic

[probe]
pin: PA1
x_offset: -20.8
y_offset: 0
#z_offset: 0
samples: 3
samples_result: average
samples_tolerance_retries: 3
sample_retract_dist: 0.5
speed: 2
lift_speed: 4

[safe_z_home]
home_xy_position: 0, 0
speed: 5
z_hop: 10
z_hop_speed: 15

[controller_fan controller_fan]
pin: PB12

[heater_fan extruder_fan]
pin: PB13

[fan]
pin: PB5
cycle_time: 0.00005 #20kHz

[output_pin enable_pin]
pin: PB6
value: 1
    #This pin enables the bed, hotend, extruder fan, part fan.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 0.992
#*#
#*# [stepper_z]
#*# position_endstop = -0.560
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -7.442000, -7.343250, -7.222000, -7.100000, -6.984000, -6.847250, -6.714250, -6.601250, -6.534500, -6.438500, -6.326000
#*# 	  -7.548250, -7.393250, -7.276500, -7.139750, -7.003750, -6.866500, -6.736250, -6.596500, -6.477000, -6.376750, -6.335250
#*# 	  -7.496250, -7.360750, -7.229500, -7.089000, -6.957750, -6.821000, -6.693500, -6.571250, -6.511250, -6.400750, -6.288000
#*# 	  -7.514250, -7.376750, -7.241500, -7.105250, -6.973000, -6.835250, -6.710250, -6.561500, -6.436500, -6.352500, -6.284750
#*# 	  -7.551500, -7.414750, -7.283000, -7.149250, -7.026500, -6.889500, -6.754500, -6.625750, -6.554250, -6.436750, -6.324000
#*# 	  -7.583000, -7.448250, -7.315000, -7.180750, -7.054250, -6.914250, -6.780500, -6.629250, -6.496250, -6.407750, -6.333500
#*# 	  -7.585500, -7.447750, -7.316250, -7.184500, -7.055250, -6.915500, -6.777500, -6.645750, -6.569250, -6.455750, -6.338500
#*# 	  -7.597000, -7.458500, -7.319500, -7.175000, -7.042500, -6.895000, -6.758750, -6.612000, -6.487250, -6.400750, -6.321000
#*# 	  -7.615500, -7.472750, -7.334250, -7.198500, -7.064000, -6.916500, -6.771500, -6.645500, -6.569750, -6.459000, -6.342250
#*# 	  -7.656000, -7.485000, -7.363750, -7.216750, -7.071750, -6.919000, -6.773750, -6.620750, -6.491250, -6.365250, -6.317250
#*# 	  -7.681750, -7.484750, -7.318000, -7.191500, -7.043750, -6.881250, -6.728000, -6.591500, -6.501250, -6.389250, -6.262500
#*# x_count = 11
#*# y_count = 11
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 5.0
#*# max_x = 215.0
#*# min_y = 5.0
#*# max_y = 215.0
